version: "3.9"

services:
  db:
    image: mysql:latest
    container_name: mysql_server
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: tonkatekAdmin
      MYSQL_DATABASE: tonkatek_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin1234
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: tonkatekAdmin
    ports:
      - "8080:80"